In [2]:
import pandas as pd

# Reading Data

In [3]:
df =pd.read_csv("coviddata.csv")

In [4]:
df.head()
df.tail()

,age,fever,tiredness,loss of taste or smell,headache,diffbreath,infectionprob
2119,65,102.00,0,1,1,0,0
2120,65,100.34,0,1,1,0,0
2121,51,101.69,1,0,0,0,0
2122,65,102.00,0,0,1,0,0
2123,41,99.65,1,0,0,0,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2124 entries, 0 to 2123
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   age                     2124 non-null   int64
 1   fever                   2124 non-null   float64
 2   tiredness               2124 non-null   int64
 3   loss of taste or smell  2124 non-null   int64
 4   headache                2124 non-null   int64
 5   diffbreath              2124 non-null   int64
 6   infectionprob           2124 non-null   int64
dtypes: float64(1), int64(6)
memory usage: 116.3 KB

In [6]:
df['infectionprob'].value_counts()

0    1633
1     491
Name: infectionprob, dtype: int64

In [7]:
df.describe()

,age,fever,tiredness,loss of taste or smell,headache,diffbreath,infectionprob
count,2124.000000,2124.000000,2124.000000,2124.000000,2124.000000,2124.000000,2124.000000
mean,57.467514,100.008917,0.257533,0.440207,0.109228,0.331921,0.231168
std,22.127013,1.152882,0.445911,0.744712,0.362294,0.523132,0.421679
min,0.000000,98.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,49.000000,98.980000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,65.000000,100.020000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,65.000000,100.970000,1.000000,1.000000,0.000000,1.000000,0.000000
max,100.000000,103.000000,2.000000,2.000000,2.000000,2.000000,1.000000


# Train Test Splitting

In [8]:
import numpy as np

In [9]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled=np.random.permutation(len(data))
    test_set_size=int(len(data)*ratio)
    test_indicies=shuffled[:test_set_size]
    train_indicies=shuffled[test_set_size:]
    return data.iloc[train_indicies], data.iloc[test_indicies]

In [10]:
np.random.permutation(7)

array([4, 1, 2, 3, 6, 0, 5])

In [11]:
train, test=data_split(df,.2)

In [12]:
train

,age,fever,tiredness,loss of taste or smell,headache,diffbreath,infectionprob
831,33,99.59,1,1,0,1,1
1521,67,99.89,1,0,0,1,0
218,65,98.15,0,1,0,0,0
584,65,98.59,0,0,0,0,0
2089,75,101.52,1,0,0,1,0
...,...,...,...,...,...,...,...
1638,65,98.42,0,0,0,0,0
1095,40,98.70,1,0,0,0,0
1130,65,100.29,0,0,0,0,0
1294,65,99.47,0,0,0,0,0
860,65,98.33,0,0,0,0,0

In [13]:
test

,age,fever,tiredness,loss of taste or smell,headache,diffbreath,infectionprob
67,56,98.08,1,2,1,0,1
1742,36,101.33,1,2,0,1,1
1874,65,98.72,0,0,0,0,0
1413,68,100.76,1,2,0,0,1
483,19,98.85,1,2,0,0,1
...,...,...,...,...,...,...,...
1121,73,100.18,0,1,0,1,1
1852,65,101.79,0,0,0,0,0
650,65,100.60,0,0,0,0,0
1572,65,101.20,0,0,0,0,0
2021,11,101.81,1,1,0,1,1

In [14]:
x_train=train[['age','fever','tiredness','loss of taste or smell','headache','diffbreath']].to_numpy()
x_test=test[['age','fever','tiredness','loss of taste or smell','headache','diffbreath']].to_numpy()

In [15]:
x_test

array([[ 56.  ,  98.08,   1.  ,   2.  ,   1.  ,   0.  ],
       [ 36.  , 101.33,   1.  ,   2.  ,   0.  ,   1.  ],
       [ 65.  ,  98.72,   0.  ,   0.  ,   0.  ,   0.  ],
       ...,
       [ 65.  , 100.6 ,   0.  ,   0.  ,   0.  ,   0.  ],
       [ 65.  , 101.2 ,   0.  ,   0.  ,   0.  ,   0.  ],
       [ 11.  , 101.81,   1.  ,   1.  ,   0.  ,   1.  ]])

In [16]:
y_train=train[['infectionprob']].to_numpy().reshape(1700,)
y_test=test[['infectionprob']].to_numpy().reshape(424,)

In [17]:
y_train

array([1, 0, 0, ..., 0, 0, 0], dtype=int64)

# Now we will Linear Regression

In [18]:
from sklearn.linear_model import LogisticRegression

In [19]:
clf=LogisticRegression()
clf.fit(x_train,y_train)

c:\users\sairam\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [29]:
infprob= round(clf.predict_proba([[78,101, 2,1, 1, 0]])[0][1],1)
infprob

0.9

TypeError: predict() takes 2 positional arguments but 3 were given